.venv
venv
__pycache__
*.pyc
*.log
*.csv
*.parquet
*.json
terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.backup.*
*.tfplan
.terraform
.terraform.lock.hcl
*.info
.env
variables.json
auth.json
authorized_key.json
driveroutput.*
config
history.txt
buf
.DS_Store
commands.sh
infra/terraform.tfstate.1784387835.backup
infra/terraform.tfstate.1784387889.backup
infra/terraform.tfstate.1784387905.backup